In [3]:
from pybaseball import  playerid_lookup
from pybaseball import  statcast_pitcher
from pybaseball import  statcast

In [19]:
a = playerid_lookup('morton', 'charlie')
a[a['mlb_played_first'] > 2000.0]

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
1,morton,charlie,450203,mortc002,mortoch02,4676,2008.0,2024.0